@font-face {
    font-family: ChampagneLimousines;
    src: url(../fonts/ChampagneLimousines.ttf),
         url(../fonts/ChampagneLimousinesBold.ttf),
         url(../fonts/ChampagneLimousinesItalic.ttf),
         url(../fonts/ChampagneLimousinesBoldItalic.ttf);
}
*{
    margin: 0;
    padding: 0;
}
a,
a:hover,
a:focus,
a:active{
    color: #000;
    text-decoration: none;
    outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin-bottom: 15px;
}
html,body{
}
body{
    font-family: ChampagneLimousines;
    font-size: 18px;
}
.title{}
.title h2{
    text-transform: uppercase;
    color: #0B562E;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;
}
/*====================| Start Header area |====================-->*/
#header {
    padding-top:15px ;
    padding-bottom:15px ;
}
#header .navbar-brand {
    width: 200px;
    height: auto;
    padding-top: 0;
    padding-bottom: 0;
}
#header.navbar-default{
    background-color: #fff!important;
    border-color: none!important;
}
#header .navbar-nav{

}
#header .navbar-nav li{}
#header .navbar-nav li a{
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;
}
#header ul.nav li.active > a {
    background: #0D5630;
    color: #fff;
}
#header .navbar-nav li:last-child a{
    border-right: none;
}
#header .navbar-nav li a:hover{
    color: #fff!important;
    background: #0D5630!important;
    opacity: 0.9;
}
#header .navbar-brand img{}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #0B562E;
}
#header .navbar-right{
    margin-right:0;
}
.navbar-default .navbar-toggle {
    border-color:#0B562E;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #fff;
}
/*====================| Start Slider area |====================-->*/


/*====================| Start about area |====================-->*/
.about{
    padding-top:50px;
    padding-bottom:50px;
    background: #f1f1f1;
}
.about .about-rebco{

}
.about .about-rebco h3{}
.about .about-rebco p{}
.about .single-about{
    background: #fff;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;
    margin-bottom:30px;
}
.about .single-about .about-info{
    padding:5px 15px;
}
.about .single-about h4{
    color: #0B562E;
}
.about .single-about h4::after {
    position: absolute;
    content: "";
    background: #0B562E;
    width: 3px;
    height: 30px;
    left: 15px;
    top: 0;
}
.about .single-about img{
    width:100%;
}
.about .single-about p{}
.about .single-about:hover{
    background: #0B562E;;
    color: #fff;
}
.about .single-about:hover h4{
    color: #fff;
}

/*====================| Start gallery area |====================-->*/
.gallery{
    padding-top:50px;
    padding-bottom:50px;
    background: #f4f4f4;
}
.gallery .single-item{
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}
.gallery .single-item::before{
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    background: #0B562E;
    opacity:0;
    top:0;
    left:0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;
    z-index:2;
    transform: scale(0.1);
}
.gallery .single-item:hover::before{
    opacity: 0.6;
    transform: scale(1);
}
.gallery .single-item img{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;
    z-index:1;
}
.gallery .single-item:hover img{
    transform: scale(1.2);
}

.gallery .single-item a{
    left: 0;
    position: absolute;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;
    z-index:3;
    opacity: 1;
}
.gallery .single-item i{
    top: -50%;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s ;
    -ms-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;
    font-size: 24px;
}
.gallery .single-item:hover i{
    top: 50%;
    transform: translateX(-50%);
}
.gallery .single-item:hover a{
    opacity: 1;
}

/*====================| Start contact area |====================-->*/
.contact{
    padding-top:50px;
    padding-bottom:50px;
    background: #f1f1f1;
}
.contact address{}
.contact address p{}
.contact address i{}
.contact .custom-contact{}
.contact .custom-contact form{}
.contact .custom-contact label{}
.contact .custom-contact .form-control{}
.contact .custom-contact .form-control:focus{
    border:1px solid #0B562E;
}
.contact .custom-contact input{
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
    height: 50px;
}
.contact .custom-contact textarea{
    border-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

/*====================| Start footer area |====================-->*/
footer{}
footer .copyright{
    padding-top:15px;
}
footer .copyright p{}
footer .copyright a{
    color: #0B562E;
    font-weight:bold;
}
footer .navbar-nav{}
footer .navbar-nav li{}
footer .navbar-nav li a{}
footer .navbar-nav li a:hover{}

/*====================| Start  area |====================-->*/
.lb-nav a.lb-prev, .lb-nav a.lb-next {
    opacity: 0.5;
}
/*====================| Start  area |====================-->*/
/*====================| Start  area |====================-->*/
/*====================| Start  area |====================-->*/
/*====================| Start  area |====================-->*/